<section class="app-password-field">
  <h2>Please check your password</h2>
  <form action="">
    <label for="password-input">
      <input
        id="password-input"
        type="password"
        name="password"
        placeholder="Enter your password here"
        aria-label="Password"
        [formControl]="pS.passwordControl"
      >
    </label>
  </form>
  <div class="app-section-indicator">
    <div
      class="gray"
      [ngClass]="{'red': pS.isWeak || pS.isEasy, 'yellow': pS.isMedium, 'green': pS.isStrong}">
    </div>
    <div
      class="gray"
      [ngClass]="{'red': pS.isWeak, 'yellow': pS.isMedium, 'green': pS.isStrong}">
    </div>
    <div
      class="gray"
      [ngClass]="{'red': pS.isWeak, 'green': pS.isStrong}">
    </div>
  </div>

  <div
    *ngIf="pS.isWeak && !pS.isMedium && !pS.isStrong"
    class="app-section-message-text red-message">
    Your password is too short. Type more than 8 symbols
  </div>
  <div
    *ngIf="pS.isEasy && !pS.isMedium && !pS.isStrong && !pS.isWeak"
    class="app-section-message-text red-message">
    Your password is too easy. Try to add letters, numbers, or symbols
  </div>
  <div
    *ngIf="pS.isMedium && !pS.isStrong"
    class="app-section-message-text yellow-message">
    Your password is good, but you can still improve it. Try to combine letters, symbols, and numbers
  </div>
  <div
    *ngIf="pS.isStrong"
    class="app-section-message-text green-message">
    Brilliant! Your password is strong. You can sleep well now
  </div>
</section>
